# Set default behavior to automatically normalize line endings
* text=auto

# Force certain file types to always use LF
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Force Windows-style CRLF for batch scripts
*.bat text eol=crlf
