# Enable mod_rewrite
RewriteEngine On

# Set the HTTP_AUTHORIZATION header for PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Prevent access to sensitive files
RewriteRule (^\.|composer\.json|composer\.lock|\.env) - [F,L]

# Redirect everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
